<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Táblázat</title>
</head>
<body>
    <h1>Növények táblázata</h1>
    <table>
    <tr> 
        <th>Név</th>
        <th>Típus</th>
        <th>Jellemzők</th>
        {% if plants %}
        {% for plant in plants %}
    </tr>
    <tr>
        <td>{{ plant.name }}</td> 
        <td>{{ plant.type }}</td> 
        <td>{{ plant.feature }}</td>
    </tr>
    {% endfor %}
    {% endif %}
    </table>
    <a href="/">Vissza az főoldalra</a>
</body>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</html>
